.mtable {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}
.mtd {
	padding: 10px;
	border: 1px solid #ddd;
	text-align: left;
}
.mth {
	padding: 10px;
	border: 1px solid #ddd;
	text-align: left;
	background-color: #f2f2f2;
}

.link_button {
	display: inline-block;
	margin: 20px 0px 0px 20px;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	text-decoration: none;
	border: 2px solid transparent;
	border-radius: 5px;
	transition: background-color 0.3s, border-color 0.3s, color 0.3s;
	cursor: pointer;
	font-size: 16px;
}


.link_button_cell {
	display: inline-block;
	background-color: #007bff;
	color: #fff;
	text-decoration: none;
	border: 2px solid transparent;
	border-radius: 5px;
	transition: background-color 0.3s, border-color 0.3s, color 0.3s;
	cursor: pointer;
	font-size: 12px;
}

.formcontainer {
	width: 100%;
	display: flex;
	flex-direction: column;
  	justify-content: center;
  	align-items: center;
}

.form {
	flex-grow: 1;
	width: 30%;
}

.textinput {
	width: 100%;
	padding: 12px 20px;
 	 margin: 8px 0;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
}

.button {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 8px 0px 0px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }

.btncontainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}