/* styles/Layout.module.css */
.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 0px;
  }
  
  .header {
	background-color: #bfcbad;
	color: white;
	margin: 0px;
	padding: 1rem; 
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	flex-grow: 1;
  }
  
  .main {
	flex-grow: 20 ;
	padding: 0px;
  }
  
  .footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 1rem;
	flex-grow:1;
  }
  